@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{ 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
} 
 
html, 
body{ 
  width: 100%; 
  height: 1px; 
  min-height: 100%; 
  font-family: Rubik; 
} 
 
.wrapper{ 
  overflow: hidden; 
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.main{
  width: 100%;
  height: 100vh;
  background-image: url(img/background-main.png);
  background-size: cover;
  position: relative;
}

.menu__screen{
  width: 100%;
  height: 100vh;
  background-color: #253D32;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  position: fixed;
  flex-direction: column;
  padding: 140px 40px;
  gap: 100px;
  animation-name: movieMenu;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes movieMenu {
  from{margin-top: -100%;}
  to{margin-top: 0;}
}

.menu__screen__button__close{
  border-style: none;
  background-color: #253D32;
  color: white;
  font-size: 40px;
  text-align: end;
  margin-top: -110px;
}

.menu__screen__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  text-align: center;
  width: 100%;
}

.screen__menu__item{
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.header{
  padding: 40px 0;
}
.header .container {
  display: flex;
  max-width: 1170px;
  height: 55px;
  justify-content: space-between;
  align-items: center;
}

.header__menu{
  display: flex;
  gap: 30px;
  color: white;
}

.header__button{
  width: 140px;
  height: 55px;
  border-radius: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #EDFF81;
  font-size: 16px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

.header__button:hover{
  background-color: #f8ffd2;
  color: black;
}

.header__button__place{
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.burger__button{
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
}

.main__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 25px;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
}

.main__under__title{
  font-size: 36px;
  opacity: 0.7;
}

.main__title{
  word-spacing: 20px;
  letter-spacing: 1.5;
  font-size: 90px;
  margin-top: 20px;
}

.main__subtitle{
  font-size: 22px;
  max-width: 686px;
  margin-top: 20px;
  opacity: 0.7;
  letter-spacing: 1.2;
  line-height: 1.2;

}

.main__button{
  border-radius: 116px;
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #C2E463;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 25px;
}

@media (max-width: 1200px){
  .header{
    padding: 40px 60px;
  }
  .main__container{
    gap: 10px;
  }
}

@media (max-width: 1080px){
  .main__title{
    font-size: 70px;
  }
  .main__subtitle{
    font-size: 18px;
    margin-top: 30px;
  }
  .main__button{
    font-size: 16px;
    height: 60px;
    margin-top: 30px;
  }
  .partners__logo{
    width: 80px;
  }
}

@media (max-width:1000px) {
  .main__container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__title{
    font-size: 80px;
  }
  .main__subtitle{
    width: 560px;
  }
}

@media (max-width: 850px) {
  .header__menu{
    font-size: 12px;
  }
  .header__button{
    height: 40px;
    width: 120px;
  }
}

@media (max-width: 768px){
  .header__menu{
    display: none;
  }
  .burger__button{
    display: flex;
  }
  .main__title{
    font-size: 60px;
  }
  .main__subtitle{
    width: 350px;
  }
}

@media (max-width: 570px){
  .logo{
    width: 120px;
  }
  .header__button{
    width: 100px;
    font-size: 12px;
    height: 30px;
  }
  .header__button__place{
    gap: 10px;
  }
  .main__title{
    font-size: 45px;
  }
  .main__subtitle{
    font-size: 14px;
    margin-top: 0;
  }
  .main__button{
    margin-top: 0;
  }
  .main__container{
    gap: 30px;
  }
  .main__under__title{
    font-size: 25px;
  }
}

@media (max-width: 500px){
  .header__button{
    display: none;
  }
  .header{
    padding: 25px 20px;
  }
  .main__title{
    font-size: 38px;
  }
  .main__subtitle{
    font-size: 12px;
    width: 300px;
  }
  .main__button{
    font-size: 12px;
    width: 120px;
    height: 35px;
  }
}

.partners{
  width: 100%;
  background-color: #F6FBF9;
}

.partners__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  width: 100%;
}

.about_us{
  display: flex;
  justify-content: space-between;
  padding: 120px 100px;
}

.about_us__main{
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about_us__title{
  font-size: 42px;
  font-weight: bold;
}

.about_us__subtitle{
  font-size: 22px;
  color: #78847D;
  margin-top: -10px;
}

.about_us__href{
  color: #A3B938;
}

.about_us__blocks{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 580px;
}

.about_us__block__item{
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about_us__block__item__image{
  width: 40px;
  height: 40px;
}

.about_us__block__item__title{
  font-size: 24px;
}

.about_us__block__item__subtitle{
  font-size: 18px;
  color: #78847D;
}

.socialmedia{
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 80px 100px;
  align-items: center;
}

.socialmedia__image{
  max-width: 50%;
}

.socialmedia__text{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 450px;
}

.socialmedia__title{
  font-size: 42px;
  font-weight: bold;
}

.socialmedia__subtitle{
  font-size: 22px;
  color: #78847D;
}

.socialmedia__button{
  height: 55px;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

@media(max-width: 1280px){
  .about_us{
    padding: 120px 60px;
  }
  .about_us__block__item{
    max-width: 220px;
  }
  .about_us__main{
    max-width: 400px;
  }
}

@media (max-width: 1090px){
  .about_us{
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
  }
  .about_us__main{
    max-width: 600px;
    justify-content: center;
    align-items: start;
  }
  .socialmedia{
    display: flex;
    flex-direction: column-reverse;
  }
  .socialmedia__image{
    max-width: 100%;
  }
  .socialmedia__text{
    max-width: 70%;
  }
}


@media (max-width: 1000px) {
  .partners__container{
    padding: 40px 80px;
  }
}

@media(max-width: 768px){
  .partners__container{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media (max-width: 450px){
  .about_us{
    padding: 80px 50px;
  }
  .about_us__title{
    font-size: 26px;
  }
  .about_us__subtitle{
    font-size: 16px;
  }
  .about_us__href{
    font-size: 14px;
  }
  .about_us__block__item__title{
    font-size: 25px;
  }
  .about_us__block__item__subtitle{
    font-size: 14px;
  }
  .about_us__blocks{
    gap: 50px;
  }
  .about_us__block__item{
    gap: 10px;
  }
  .socialmedia__image{
    max-width: 300px;
  }
  .socialmedia__text{
    max-width: 280px;
  }
  .socialmedia{
    padding: 80px 30px;
  }
}

.help{
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #F6FBF9;
  margin-top: 50px;
}

.help__title{
  font-size: 42px;
}

.help__subtitle{
  font-size: 22px;
  color: #78847D;
}

.help__href{
  font-size: 20px;
  margin-top: 40px;
}

.help__main{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.help__main__slider__buttons{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.help__slider__button{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #A2BDAA;
  transform-origin: center;
  cursor: pointer;
}

.help__slider__button1{
  width: 40px;
  height: 40px;
  border-style: none;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #A2BDAA;
  transform-origin: center;
  cursor: pointer;
}

.help__slider__button2{
  width: 40px;
  height: 40px;
  border-style: none;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #A2BDAA;
  transform-origin: center;
  cursor: pointer;
}

.help__slider__button3{
  width: 40px;
  height: 40px;
  border-style: none;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #A2BDAA;
  transform-origin: center;
  cursor: pointer;
}

.slider_image{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-left: 8px;
}

.slider_image1{
  display: none;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-left: 8px;
}

.slider_image2{
  display: none;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-left: 8px;
}

.slider_image3{
  display: none;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-left: 8px;
}

.active{
  width: 70px;
  height: 70px;
  z-index: 5;
  border: 2px solid #A3B938;
}

.help__main__text{
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  gap: 150px;
  margin-top: 10px;
}

.help__main__title{
  max-width: 220px;
  font-size: 22px;
  text-align: center;
  color: #253D32;
}

.text__active{
  font-weight: 600;
  transition: 1s;
}

@media (max-width: 1100px){
  .slider_image{
    width: 20px;
    height: 20px;
    margin-left: 3px;
  }
  .slider_image1{
    width: 20px;
    height: 20px;
    margin-left: 3px;
  }
  .slider_image2{
    width: 20px;
    height: 20px;
    margin-left: 3px;
  }
  .slider_image3{
    width: 20px;
    height: 20px;
    margin-left: 3px;
  }
  .help__main__slider__buttons{
    max-width: 900px;
  }
  .help__main__vector{
    max-width: 180px;
  }
  .help__main__title{
    font-size: 18px;
    text-align: start;
  }
  .help__slider__button{
    width: 30px;
    height: 30px;
  }
  .help__slider__button1{
    width: 30px;
    height: 30px;
  }
  .help__slider__button2{
    width: 30px;
    height: 30px;
  }
  .help__slider__button3{
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 800px){
  .help__main{
    margin-top: 40px;
    margin-left: -50px;
  }
  .help__main__slider__buttons{
    max-width: 650px;
    justify-content: center;
  }
  .help__main__vector{
    width: 100px;
  }
  .help__main__text{
    max-width: 700px;
    gap: 30px;
  }
  .help__main__title{
    font-size: 16px;
    text-align: center;
  }
  .help__href{
    font-size: 16px;
  }
  .help__title{
    text-align: center;
  }
  .help__subtitle{
    text-align: center;
  }
  .help__main__slider__buttons{
    flex-direction: column;
    gap: 80px;
    margin-top: 0;
  }
  .help__main{
    display: flex;
    flex-direction: row;
  }
  .help__main__text{
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-top: 35px;
  }
  .help__main__title{
    font-size: 30px;
    max-width: 300px;
  }
  .help__main__vector{
    transform: rotate(90deg);
  }
}

@media (max-width: 550px){
  .help__main__title{
    font-size: 20px;
    width: 150px;
  }
  .help__main__text{
    gap: 145px;
  }
}

@media (max-width: 450px){
  .help__title{
    font-size: 30px;
    text-align: center;
  }
  .help__subtitle{
    font-size: 18px;
    text-align: center;
  }
  .help__main__text{
    gap: 140px;
    margin-top: -15px;
  }
}

@media (max-width:400px){
  .help__title{
    width: 300px;
  }
}

.read_more__screen{
  display: flex;
  padding: 120px 100px;
  justify-content: space-between;
  gap: 50px;

}

.read_more__titles{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 60px;
}

.read_more__main__title{
  font-size: 42px;
  font-weight: bold;
  max-width: 450px;
}

.read_more__blocks__titles{
  display: flex;
  gap: 120px;
  margin-right: 40px;
}

.block__title{
  font-size: 22px;
  border-style: none;
  background-color: white;
}

.block__title__text{
  text-align: start;
  margin-left: -30px;
}

.active__block__title{
  border-bottom: 2px solid #A3B938;
  padding-bottom: 5px;
}

.read_more__blocks{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: end;
  margin-top: 77px;
}

.read_more__blocks_content{
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 580px;
}

.content_writing_blocks{
  display: flex;
  gap: 20px;
}

.content_marketing_blocks{
  display: none;
  gap: 20px;
}


.marketing__block{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.writings__block{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.writings__block img{
  max-height: 245px;
}

@media (max-width: 550px){
  .content_marketing_blocks{
    flex-direction: column;
  }
  .content_writing_blocks{
    flex-direction: column;
  }
  .read_more__blocks__titles{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .read_more__blocks_content{
    gap: 50px;
  }
}
.read_more_block_title{
  font-size: 24px;
}

.read_more_block_subtitle{
  color: #78847D;
  font-size: 18px;
}

.read_more_block__date{
  font-size: 14px;
  color: #808371;
}

.read_more_block__button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #A3B938;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.read_more__main__block{
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1300px){
  .read_more__main__block{
    max-width: 450px;
  }
  .writings__block{
    max-width: 270px;
  }
  .content_writing_blocks{
    gap: 20px;
  }
  .content_marketing_blocks{
    gap: 20px;
  }
  .marketing__block{
    max-width: 270px;
  }
}

@media (max-width: 1100px){
  .read_more__screen{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
  }
  .read_more__blocks__titles{
    justify-content: center;
    align-items: center;
  }
  .read_more__blocks{
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 580px){
  .read_more__main__block{
    max-width: 260px;
    justify-content: center;
  }
  .read_more__main__title{
    font-size: 24px;
    max-width: 300px;
  }
  .read_more__screen{
    padding: 80px 30px;
  }
}

.read_more_block_main_title{
  font-size: 26px;
}

.read_more_main_block__button{
  border-radius: 192px;
  border: 1px solid #A3B938;
  color: #A3B938;
  width: 200px;
  height: 60px;
  background-color: white;
  font-size: 20px;
  font-weight: 600;
}

.read_more_block_image{
  height: 245px;
  width: 270px;
}

@media (max-width:580px){
  .read_more_main_block__button{
    font-size: 12px;
    width: 100px;
    height: 40px;
  }
  .read_more_block_main_title{
    font-size: 20px;
  }
  .block__title{
    font-size: 16px;
  }
  .read_more__blocks__titles{
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .read_more__blocks{
    justify-content: center;
    align-items: center;
  }
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 100px;
  gap: 170px;
}

.footer__main__block{
  max-width: 354px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__main__block img{
  max-width: 200px;
}

.footer__main__block__text{
  color: #78847D;
  font-size: 20px;
}

.footer__social__media__container{
  display: flex;
  gap: 10px;  
}

.footer__blocks{
  display: flex;
  justify-content: center;
  gap: 100px;
}

.footer__column{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 230px;
}

.footer__column__title{
  font-size: 24px;
  font-weight: bold;
}

.footer__column__subtitle{
  color: #78847D;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1100px){
  .footer{
    gap: 100px;
  }
  .footer__blocks{
    gap: 50px;
  }
}

@media (max-width: 900px){
  .footer{
    padding: 100px 40px;
  }
  .footer__main__block img{
    max-width: 150px;
  }
  .footer__main__block__text{
    font-size: 16px;
  }
  .footer__blocks{
    gap: 25px;
  }
  .footer__column__title{
    font-size: 20px;
  }
  .footer__column__subtitle{
    font-size: 12px;
  }
}

@media(max-width: 620px){
  .footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__main__block{
    gap: 35px;
  }
}

.signup__block{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.signUp__container{
  position: relative;
}

.signup__img{
  background-color: #253D32;
}

.signup-part-img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.signup-part2-img{
  position: absolute;
  z-index: 2;
  right: -107px;
  bottom: -24px;
}

.signup__content{
  display: flex;
  gap: 30px;
  justify-content: start;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 130px;
}

.signup__title{
  font-size: 32px;
  color: white;
  max-width: 658px;
  line-height: 1.8;
  font-weight: 500;
}

.signup__content img{
  max-width: 264px;
}

.signup__input{
  width: 372px;
  height: 70px;
  border-radius: 192px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 18px;
}

.signup__button{
  height: 68px;
  padding: 0 70px;
  border-radius: 192px;
  background-color: #C2E463;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.signup__button:hover{
  border: none;
}

.signup__input__container{
  margin-top: 30px;
}


@media (max-width: 1400px){
  .signup__img{
    max-width: 1000px;
  }
  .signup-part2-img{
    max-width: 300px;
  }
}

@media (max-width: 1200px){
  .signup__img{
    max-width: 800px;
  }
  .signup-part2-img{
    max-width: 200px;
  }
  .signup__content{
    max-width: 500px;
    top: 50px;
  }
  .signup__title{
    font-size: 25px;
  }
  .signup__content img{
    max-width: 180px;
  }
  .signup__input{
    width: 280px;
    height: 60px;
  }
  .signup__button{
    padding: 0 40px;
    height: 58px;
  }
}

@media (max-width: 1000px){
  .signup__img{
    max-width: 600px;
  }
  .signup-part2-img{
    width: 140px;
    right: -50px;
  }
  .signup__title{
    font-size: 20px;
  }
  .signup__content{
    left: 80px;
    gap: 10px;
  }
  .signup__button{
    margin-left: 20px;
    padding: 0 20px;
    height: 38px;
  }
  .signup__input{
    height: 40px;
    padding-left: 20px;
    font-size: 16px;
  }
  .signup__input__container{
    margin-top: 10px;
  }
}

@media(max-width: 650px){
  .signUp__container{
    width: 100%;
  }
  .signup__img{
    width: 100%;
    height: 350px;
  }
  .signup__block{
    padding: 0;
    width: 100%;
  }
  .signup-part-img{
    display: none;
  }
  .signup-part2-img{
    display: none;
  }
  .signup__content{
    max-width: 450px;
    left: 40px;
    gap: 30px;
  }
  .signup__input__container{
    margin-top: 20px;
  }
}

@media (max-width: 500px){
  .signup__title{
    font-size: 18px;
  }
  .signup__content{
    max-width: 300px;
    padding: auto 0;
  }
  .signup__input__container{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .signup__button{
    margin-left: 0;
    width: 120px;
    padding: 0;
    font-size: 15px;
  }
  .signup__input{
    font-size: 15px;
    padding-left: 20;
  }
  .signup__img{
    height: 400px;
  }
}

@media (max-width: 375px){
  .signup__input{
    width: 250px;
  }
}

.well__done{
  display: none;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.stop__text{
  display: none;
  color: rgb(236, 57, 57);
  font-size: 14px;
  margin-left: 25px;
  margin-top: 5px;
}